body{
    background: url("https://png.pngtree.com/thumb_back/fh260/background/20220217/pngtree-colorful-sports-theme-background-material-image_944423.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgb(255, 30, 0);
    opacity: 0.5;
}


.main{
    display: flex;
    justify-content: space-evenly;
    
    
}


h3{
    text-align: center;
    font-size: xx-large;
    font-family:'arial', Courier, monospace;
    color: black;
}


h1{
    margin-bottom: 100px;
    color: white;
    text-shadow: 5px 5px 5px brown;
}


img:hover{
    opacity: 100;}
